@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.carte-resulat-apprenant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(62, 62, 66, 0.1);
    margin-bottom: 1rem;
    border-radius: 15px;
    border: 1px solid;
}
.carte-list-apprenant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 48%;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(62, 62, 66, 0.1);
    /* margin-bottom: 1rem; */
    border-radius: 15px;
    border: 1px solid;
}
.nom-prenom-app{
    display: flex;
    flex-direction: row;
    
}
.btn-delet-edit{
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
}
.avatar-app{
    display: flex;
    flex-direction: row;
}
.error{
    border: 2px solid #ce0033;
}
.succees{
    border-color: rgb(43, 255, 0);
}
.modifer-app {
    visibility: hidden;
}
.app-container {
    box-shadow: 5px 5px 5px 5px rgba(163, 163, 250, 0.1);
}
.form-container {
    box-shadow: 2px 2px 2px 1px rgba(155, 155, 221, 0.1)
}
.charge-liste-apprenanat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.case-detail{
    display: flex;
    flex-direction: row;
}
.info-app{
    display: flex;
    flex-direction: column;
}
.champ-bio{
    border-color: transparent;
}
.progress{
    height: 20px;
    border-radius: 10px;
    width: 50%;
}
.progress-bar{
    border-radius: 10px;
    display: flex;
    width: 30%;
    align-items: center;
    background: rgb(14, 236, 188);
}
.case-compe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .style-maquette-bien{
    width: 70%;
    background: #c6e653;
}

.style-maquette-assez-bien{
    width: 48%;
    background: #0a73eb;
}
.style-maquette-tres-bien{
    width: 90%;
    background: #0aeb7a;
} */
.debutatn{
    width: 30%;
    background: #0a6ceb;
}
.intermediare{
    width: 48%;
    background: #d5eb0a;
}
.avance{
    width: 70%;
    background: #0aebd8;
}
.expert{
    width: 92%;
    background: #0aeb30;
}
.deafult{
    width: 10%;
    background: #eb0a60; 
}
/* .section-liste{
    visibility: hidden;
}
.section-liste-visible{
    visibility: visible;
} */

